html {
  scroll-behavior: smooth;
}

.section {
  padding-bottom: 200px;
}

.section-header {
  padding-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
}

.section-paragraph {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(lightgrey, darkgrey);
  padding: 10px;
}

.navbar-link {
  text-decoration: none;
  color: lightgrey;
}

.navbar-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, darkgrey);
  background-color: grey;
  padding: 10px;
  border-radius: 3px;
  height: auto;
  width: 75px;
  border: 2px solid blue;
}

.navbar-listitem-active {
  border: 2px solid red;
}

.navbar-listitem:hover {
  border: 2px solid lightblue;
}

.footer {
  border-top: 1px solid black;
}

.section-currentlyactive {
  border: 1px solid black;
  background-image: linear-gradient(blue, white);
}

/* increase font size if there is enough room to do so */
@media (min-width: 650px) {
  .page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    grid-template-areas: "navbar" "content" "footer";
  }
  .section-header {
    font-size: 8em;
  }

  .section-paragraph {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2em;
    padding-left: 10%;
    padding-right: 10%;
  }
}
